system/system/app/YouTubeMusicClockworkRetailMode/YouTubeMusicClockworkRetailMode.apk
system/system/app/YouTubeMusicClockworkRetailMode/oat/arm/YouTubeMusicClockworkRetailMode.odex
product/priv-app/PrebuiltGmsCoreForClockworkWearable/oat/arm/PrebuiltGmsCoreForClockworkWearable.odex
