service bootanim /system/bin/bootanimation
    class core animation
    priority 19
    user graphics
    group graphics audio
    disabled
    oneshot
    ioprio rt 0
    task_profiles MaxPerformance
